body{
	font-family: "Rockwell","Serif", fantasy;
	color:#DB7093;
       }

h1 {
	font-size: 1.4em;
	text-align:center;
     }
table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-collapse: collapse;
	cellspacing: 0 px;
         }

td {
	border: 1px solid #ffffff;
	text-align:center;
	background-color:#d3d3d3; 
    }

th {
	text-align:center;
	color:#ffffiff;
	background-color:#a9a9a9;
   }

